@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
    --aios-switch-hovercolor: Highlight;
    --aios-grippy-cursor: pointer;
}


/*
 * Sidebar Switch
 *
 * Themes must not override the settings for border and margin,
 * otherwise the switch might not be styled correctly.
 */
window[inDOMFullscreen] #aios-toggle-toolbox,
window[inDOMFullscreen] #aios-toolbox-left,
window[inDOMFullscreen] #aios-toolbox-right {
    display: none;
}
window[aiosOrient="left"] toolbox #aios-toggle-toolbox,
window[aiosOrient="left"] toolbox #aios-toggle-toolbox > toolbar #aios-toggle-toolbar {
    margin: 0 !important;
    border-left: none !important;
}
window[aiosOrient="right"] toolbox #aios-toggle-toolbox,
window[aiosOrient="right"] toolbox #aios-toggle-toolbox > toolbar #aios-toggle-toolbar {
    margin: 0 !important;
    border-right: none !important;
}
#aios-toggle-toolbox,
#aios-toggle-toolbar {
    padding: 0;
    border: none;
}
#aios-toggle-toolbar {
    -moz-appearance: none;
}
#aios-toggle-button[invHover="true"] {
  transition-property: background, box-shadow;
  transition-duration: 200ms;
}
#aios-toggle-button[invHover="true"]:not(:hover) {
  background-color: transparent !important;
}
#aios-toggle-button[invHover="true"]:hover {
  background-color: var(--aios-switch-hovercolor) !important;
  box-shadow: 0 0 15px 5px var(--aios-switch-hovercolor) !important;
}
#aios-toggle-button[invHover="false"]:hover {
  background-color: transparent;
}


/*
 * TGS Toolbar
 */
#aios-toolbox-left,
#aios-toolbox-right,
#aios-toolbox-sidebartop,
#aios-toolbox-sidebartop2,
#aios-toolbox-sidebarbottom,
#aios-sbhtoolbox {
    border: none;
}
#aios-toolbar {
    -moz-appearance: none;
    -moz-box-flex: 1;
    padding: 1px 1px 1px 0;
    border: none;
}
#aios-toolbar[orient="vertical"] {
    -moz-box-orient: vertical;
}
#aios-toolbar[orient="horizontal"] {
    padding: 0 1px 1px 0;
}
#aios-toolbar-contextmenu dialogheader,
#aios-sbhtoolbar-contextmenu dialogheader {
    margin: 0 0 7px 0;
    padding: 2px 0;
    font-weight: bold;
    border: none;
}


/*
 * Flexible Buttons
 */
#aios-toolbar[flexbuttons="true"] toolbarbutton {
    -moz-box-flex: 1;
}


/*
 * Vertical Buttons
 */
window[aiosVButtons="false"] #aios-toolbar[orient="vertical"] toolbarbutton {
    -moz-box-orient: horizontal !important;
}
window[aiosVButtons="true"] #aios-toolbar[orient="vertical"] toolbarbutton {
    -moz-box-orient: vertical !important;
}


/*
 * Toolbar Mode: Text
 */
#aios-toolbar[orient="vertical"][mode="text"] toolbarbutton {
    -moz-box-orient: horizontal;
}
#aios-toolbar[orient="vertical"][mode="text"] toolbarbutton .toolbarbutton-text {
    text-align: left;
}


/*
 * Style of controls when in Customize Mode
 */
#aios-toolbar[orient="vertical"] toolbarspacer,
#aios-toolbar[orient="vertical"] toolbarpaletteitem[id^="wrapper-spacer"] {
    height: 21px;
}
#aios-toolbar toolbarspring,
#aios-toolbar toolbarpaletteitem[id^="wrapper-spring"] {
    -moz-box-flex: 1000;
}
#aios-toolbar toolbarseparator,
#aios-toolbar toolbarpaletteitem[id^="wrapper-separator"] {
    margin: 0 0 1px 1px;
}
#aios-toolbar[orient="vertical"] toolbarseparator,
#aios-toolbar[orient="vertical"] toolbarpaletteitem[id^="wrapper-separator"] {
    -moz-appearance: none;
    height: 2px;
    max-height: 2px;
    min-height: 2px;
    padding: 0;
    border: none;
    border-top: 1px solid ThreedShadow;
    border-bottom: 1px solid ThreedHighlight;
}
#aios-toolbar[orient="vertical"] toolbarpaletteitem[id^="wrapper-separator"] {
    min-height: 5px;
    border-bottom: 1px solid ThreedHighlight;
    background-color: ActiveBorder;
}
#aios-toolbar[orient="horizontal"] toolbarpaletteitem[id^="wrapper-separator"] {
    min-width: 5px;
    max-width: 5px;
    border-left: 1px solid ThreedShadow;
    background-color: ActiveBorder;
}
#aios-toolbar[orient="vertical"] toolbarpaletteitem {
    margin: -2px 0;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
#aios-toolbar[orient="vertical"] toolbarpaletteitem[dragover="left"] {
    border-color: transparent;
    border-top-color: #000000;
}
#aios-toolbar[orient="vertical"] toolbarpaletteitem[dragover="right"] {
    border-color: transparent;
    border-bottom-color: #000000;
}


/*
 * Grippy
 */
#aios-toggle-toolbox grippy,
#sidebar-splitter grippy {
    -moz-binding: url("chrome://aios/content/aios.xml#aiosGrippy");
    cursor: var(--aios-grippy-cursor);
    background: transparent none no-repeat center;
}
#aios-toggle-toolbox grippy:hover,
#sidebar-splitter grippy:hover {
    background-color: -moz-MenuHover;
}
#sidebar-splitter[orient="horizontal"] grippy {
    min-width: 5px;
    min-height: 119px;
}
#aios-toggle-toolbox grippy,
#sidebar-splitter[orient="horizontal"] grippy,
window[aiosOrient="right"][aiosOpen="false"] #aios-toggle-toolbox grippy,
window[aiosOrient="right"][aiosOpen="false"] #sidebar-splitter[orient="horizontal"] grippy {
    background-image: url(../img/grippy-left.gif);
}
window[aiosOpen="false"] #aios-toggle-toolbox grippy,
window[aiosOpen="false"] #sidebar-splitter[orient="horizontal"] grippy,
window[aiosOrient="right"] #aios-toggle-toolbox grippy,
window[aiosOrient="right"] #sidebar-splitter[orient="horizontal"] grippy {
    background-image: url(../img/grippy-right.gif);
}


/*
 * Disabled icons
 */
.aios-noIcons > .menu-iconic-left image {
    display: none;
}


/* 
 * Vertical Bookmarks on the TGS Toolbar
 */
#personal-bookmarks,
#PlacesToolbarItems {
    -moz-box-orient: horizontal;
}
#aios-toolbar[orient="vertical"] #personal-bookmarks,
#aios-toolbar[orient="vertical"] #PlacesToolbarItems {
    -moz-box-orient: vertical;
}
#aios-toolbar[orient="vertical"][mode="icons"] label,
#aios-toolbar[orient="vertical"][mode="icons"] .chevron > label {
    display: none !important;
}
#aios-toolbar[orient="vertical"][mode="icons"] menupopup label {
    display: block !important;
}
#aios-toolbar[mode="icons"]:not([iconsize="small"]) .bookmark-item > image {
    width: 22px;
    height: 22px;
    margin: 1px;
}


/*
 * Sidebar
 */
#sidebar,
#sidebar-box {
    margin: 0;
    padding: 0;
    max-width: none !important;
}
sidebarheader {
    padding: 0 1px 1px 1px;
}
#sidebar-title {
    display: none !important;
}
#sidebars-titlebutton > label {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    background: url(../img/arrow.gif) no-repeat right 8px;
}
#sidebars-titlebutton > label:-moz-lwtheme {
    color: highlighttext;
}
sidebarheader > .tabs-closebutton,
sidebarheader > .close-icon.tabbable {
    display: none;
}


/*
 * Sidebar Header Toolbar
 */
#aios-sbhtoolbox,
#aios-sbhtoolbar {
    -moz-appearance: none;
    min-width: 30px;
    background-color: transparent;
    background-image: none !important;
    border: none;
}


/*
 * Tooltips
 */
#aiosPopupset tooltip {
    padding: 1px;
}
#aiosPopupset tooltip box {
    -moz-binding: url(chrome://aios/content/aios.xml#aiosTooltips);
}
#aiosPopupset tooltip label {
    margin: 0;
    padding: 1px 3px;
}
#aiosPopupset tooltip label[value=""],
#aiosPopupset tooltip label:not([value]) {
    display: none;
}
#aiosPopupset tooltip label:not([class="odd"]) {
    border-top: 1px dotted ThreedDarkShadow;
    border-bottom: 1px dotted ThreedDarkShadow;
}
#aiosPopupset tooltip > label:not([class="odd"]) {
    margin-bottom: 5px;
    padding: 2px 3px 4px 3px;
    border-top: none;
    border-bottom: 1px solid ThreedDarkShadow;
}


/*
 * Print Preview
 */
window[onclose="PrintUtils.exitPrintPreview(); return false;"] #aios-toggle-toolbox,
window[onclose="PrintUtils.exitPrintPreview(); return false;"] #sidebar-box,
window[onclose="PrintUtils.exitPrintPreview(); return false;"] #aios-toolbox-left,
window[onclose="PrintUtils.exitPrintPreview(); return false;"] #aios-toolbox-right,
window[onclose="PrintUtils.exitPrintPreview(); return false;"] #sidebar-splitter {
    display: none;
}


/*
 * Add-on compatibility: fixes
 */

/* TotalToolbar */
sidebarheader #tt-toolbox-sidebarheader {
    display: none;
}

/* MR Tech Local Install & Download Manager Tweak */
#emSidebar,
#tmSidebar {
    display: none !important;
}

/* Download Manager Tweak */
menuitem[id="menu_dmtSidebar"] {
    display: none !important;
}

/* EZ Sidebar */
menuitem[ezsidebar-id="ezsidebar:viewSidebarMenu:show"],
menuitem[ezsidebar-id="ezsidebar:viewSidebarMenu:hide"] {
    display: none !important;
}
window:not([windowtype="mozilla:sidebar"]) #ezsidebar-panels-button {
    display: none !important;
}

/*
 * Lightweight Themes
 */
window:-moz-lwtheme #browser {
    border-top: none !important;
}
window:-moz-lwtheme #aios-toggle-toolbar,
window:-moz-lwtheme #aios-toolbar,
window:-moz-lwtheme sidebarheader,
window:-moz-lwtheme:-moz-system-metric(windows-default-theme) #aios-toolbar[posMode="4"],
window:-moz-lwtheme #sidebar-splitter[orient="horizontal"] hbox {
    border: none !important;
    background-color: transparent !important;
}
window:-moz-lwtheme #sidebar-splitter[orient="horizontal"] {
    -moz-appearance: none !important;
}
