/*
 * GUI
 */
page[aios-inSidebar],
page[aios-inSidebar] .main-content,
page[aios-inSidebar] .view-pane > .list > scrollbox {
  padding: 0;
}


/*
 * Navigation
 */
page[aios-inSidebar] #nav-header:not([modified]) {
  display: none;
}
page[aios-inSidebar] #nav-header {
  background: none;
}
page[aios-inSidebar] .nav-button {
  margin: 0;
}
page[aios-inSidebar] > hbox {
  -moz-box-orient: vertical;
}
page[aios-inSidebar] #categories {
  margin: 0;
  padding: 1px 1px 0 1px;
}
page[aios-inSidebar] .category,
page[aios-inSidebar] .category:not([disabled]) {
  height: auto;
  margin: 0 1px 1px 0;
  padding: 2px;
}
page[aios-inSidebar] .category-icon {
  margin: 0;
}
page[aios-inSidebar] #category-search[disabled="true"],
page[aios-inSidebar] #category-availableUpdates[disabled="true"],
page[aios-inSidebar] #category-recentUpdates[disabled="true"],
page[aios-inSidebar] .category-name, page[aios-inSidebar] .category-badge {
  display: none;
}


/*
 * Header
 */
page[aios-inSidebar] #header {
  margin: 0;
  padding: 5px 5px 0 0 !important;
}
page[aios-inSidebar] #header-utils-btn {
  margin: 0 5px;
  min-width: 0;
}


/*
 * Content
 */
page[aios-inSidebar] #updates-container {
  padding: 5px 0;
}
page[aios-inSidebar] #updates-container .button-box {
  padding-left: 0;
  padding-right: 0;
}
page[aios-inSidebar] #updates-container button.button-link {
  margin-left: 5px;
}
page[aios-inSidebar] #updates-container #close-btn {
  display: block !important;
}
page[aios-inSidebar] .view-header {
  margin: 0;
  padding: 0 4px;
  min-height: 0;
}
page[aios-inSidebar] .sorter,
page[aios-inSidebar] .search-filter-radio {
  margin: 3px 0 3px 5px;
  height: 18px;
  max-height: 18px;
}
page[aios-inSidebar] #search-filter {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
/* Text buttons in header and richlist items */
page[aios-inSidebar] button.button-link {
  margin: 0;
  padding: 0;
}


/*
 * Add-ons
 */
page[aios-inSidebar] .addon {
  padding: 5px;
}
page[aios-inSidebar] .addon * {
  margin: 0;
}
page[aios-inSidebar] .addon .warning,
page[aios-inSidebar] .addon .error,
page[aios-inSidebar] .addon .pending {
  margin-bottom: 5px;
}
page[aios-inSidebar] .addon .warning .text-link {
  margin-left: 10px;
}
page[aios-inSidebar] .addon .pending > vbox {
  margin-left: 10px;
}
page[aios-inSidebar] .addon .pending .button-box {
  padding-left: 0;
  padding-right: 0;
}
page[aios-inSidebar] .addon .icon-container,
page[aios-inSidebar] .addon .warning-icon,
page[aios-inSidebar] .addon .error-icon,
page[aios-inSidebar] .addon .pending-icon {
  margin-right: 10px !important;
}
page[aios-inSidebar] .addon .name-container {
  font-size: 11px;
  font-weight: normal;
}
page[aios-inSidebar] .addon .name-container .name {
  font-weight: bold;
}
page[aios-inSidebar] .addon .name-container .version {
  margin-left: 10px;
}
page[aios-inSidebar] .addon .name-container spacer,
page[aios-inSidebar] .addon .creator,
page[aios-inSidebar] .addon .date-updated {
  display: none;
}

/* Unselected Add-ons */
page[aios-inSidebar] .addon:not([selected="true"]) .icon-container,
page[aios-inSidebar] .addon:not([selected="true"]) .icon {
  height: 16px;
  width: 16px;
}
page[aios-inSidebar] .addon:not([selected="true"]) .disabled-postfix,
page[aios-inSidebar] .addon:not([selected="true"]) .update-postfix {
  margin-left: 5px;
}
page[aios-inSidebar] .addon:not([selected="true"]) .control-container,
page[aios-inSidebar] .addon:not([selected="true"]) .addon-control,
page[aios-inSidebar] .addon:not([selected="true"]) .description-container,
page[aios-inSidebar] .addon:not([selected="true"]) .relnotes-container,
page[aios-inSidebar] .addon:not([selected="true"]) .relnotes-toggle {
  display: none;
}

/* Selected Add-ons */
page[aios-inSidebar] .addon[selected="true"] .icon-container,
page[aios-inSidebar] .addon[selected="true"] .icon {
  height: 32px;
  width: 32px;
}
page[aios-inSidebar] .addon[selected="true"] .name-container {
  font-size: 13px;
  font-weight: bold;
}
page[aios-inSidebar] .addon[selected="true"] .warning > label,
page[aios-inSidebar] .addon[selected="true"] .pending > label {
  margin-left: 8px;
}
page[aios-inSidebar] .addon[selected="true"] .warning-icon,
page[aios-inSidebar] .addon[selected="true"] .error-icon,
page[aios-inSidebar] .addon[selected="true"] .pending-icon {
  margin: 0 18px 0 8px;
}
page[aios-inSidebar] .addon[selected="true"] .aios-container > vbox,
page[aios-inSidebar] .addon[selected="true"] .install-status,
page[aios-inSidebar] .addon[selected="true"] .relnotes-toggle {
  margin-top: 5px;
}
page[aios-inSidebar] .addon[selected="true"] .description-container {
  -moz-box-orient: vertical;
  float: left;
  margin-top: 5px;
}
page[aios-inSidebar] .addon[selected="true"] .description-container .description {
  display: block;
}
page[aios-inSidebar] .addon[selected="true"] .description-container .details {
  margin-left: -2px;
  padding: 0;
}
page[aios-inSidebar] .addon[selected="true"] .description-container .details .button-box {
  margin: 0 !important;
  padding: 0 !important;
}
page[aios-inSidebar] .addon[selected="true"] .control-container > * {
  margin-left: 2px;
  min-width: 0;
}
page[aios-inSidebar] .addon[selected="true"] .control-container > *:first-child {
  margin-left: 0;
}
page[aios-inSidebar] .addon[selected="true"] .control-container .button-box {
  padding: 0 3px !important;
}


/*
 * Detail View
 */
page[aios-inSidebar] #detail-view {
  margin: 0;
}
page[aios-inSidebar] #detail-view vbox {
  font-size: 1em;
}
page[aios-inSidebar] #detail-view > .box-inherit {
    margin: 0;
}
page[aios-inSidebar] #detail-view .detail-view-container {
  padding: 10px;
}
page[aios-inSidebar] #detail-view #detail-notifications {
  margin: 0;
  padding: 0;
}
page[aios-inSidebar] #detail-view #detail-icon-container {
  display: none;
}
page[aios-inSidebar] #detail-view #warning-container,
page[aios-inSidebar] #detail-view #error-container,
page[aios-inSidebar] #detail-view #pending-container {
  margin-bottom: 9px;
  padding-bottom: 10px;
}
page[aios-inSidebar] #detail-view #pending-container .button-box {
  padding-left: 0;
  padding-right: 0;
}
page[aios-inSidebar] #detail-view #pending-container > vbox {
  margin-left: 10px;
}
page[aios-inSidebar] #detail-view #detail-header {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
page[aios-inSidebar] #detail-view #detail-header > * {
  margin: 0;
  padding: 0;
}
page[aios-inSidebar] #detail-view #detail-icon {
  margin: 0 10px 0 0;
}
page[aios-inSidebar] #detail-view spacer {
  display: none;
}
page[aios-inSidebar] #detail-view #detail-name {
  margin-bottom: 0;
}
page[aios-inSidebar] #detail-view #detail-version {
  margin-bottom: 5px;
}
page[aios-inSidebar] #detail-view #detail-name,
page[aios-inSidebar] #detail-view #detail-version,
page[aios-inSidebar] #detail-view .disabled-postfix,
page[aios-inSidebar] #detail-view .update-postfix {
  font-size: 14px;
}
page[aios-inSidebar] #detail-view #detail-restart-btn,
page[aios-inSidebar] #detail-view #detail-undo-btn,
page[aios-inSidebar] #detail-view #detail-name,
page[aios-inSidebar] #detail-view #detail-version,
page[aios-inSidebar] #detail-view #detail-creator,
page[aios-inSidebar] #detail-view #detail-desc,
page[aios-inSidebar] #detail-view #detail-fulldesc,
page[aios-inSidebar] #detail-view #detail-grid * {
  margin: 0;
}
page[aios-inSidebar] #detail-view .detail-row,
page[aios-inSidebar] #detail-view .detail-row-complex,
page[aios-inSidebar] #detail-view setting {
    min-height: 0;
}
page[aios-inSidebar] column {
    min-width: 0 !important;
}
page[aios-inSidebar] #detail-view #detail-name,
page[aios-inSidebar] #detail-view #detail-desc {
  font-weight: bold;
}
page[aios-inSidebar] #detail-view #detail-screenshot {
  margin-top: 5px;
  max-width: none;
}
page[aios-inSidebar] #detail-view #detail-contributions > hbox {
  -moz-box-orient: vertical;
  -moz-box-align: end;
}
page[aios-inSidebar] #detail-view #detail-updates-row radio {
  margin-right: 6px;
}
page[aios-inSidebar] #detail-view #detail-updates-row radio .radio-icon {
  margin-right: 3px;
}
page[aios-inSidebar] #detail-view #detail-rating-row > hbox {
  -moz-box-orient: vertical;
}
page[aios-inSidebar] #detail-view #detail-controls button {
  margin-left: 0;
}


/*
 * Default theme styling
 */

page[aios-inSidebar][aios-appDefTheme="true"] {
  background-image: none;
}
page[aios-inSidebar][aios-appDefTheme="true"] .addon:not([selected="true"]) {
  background-color: ButtonFace;
}
page[aios-inSidebar][aios-appDefTheme="true"] #categories {
  border-top: none;
  border-bottom: 1px solid ThreedShadow;
  background-color: -moz-field;
}
page[aios-inSidebar][aios-appDefTheme="true"] .category,
page[aios-inSidebar][aios-appDefTheme="true"] .category:not([disabled]) {
  border: none;
  border-radius: 0;
}
page[aios-inSidebar][aios-appDefTheme="true"] .category[selected="true"],
page[aios-inSidebar][aios-appDefTheme="true"] .category:not([disabled])[selected="true"] {
  background-color: #C1D2EE;
}
page[aios-inSidebar][aios-appDefTheme="true"] .category:hover,
page[aios-inSidebar][aios-appDefTheme="true"] .category:not([disabled]):hover {
  background-color: #E0E8F6;
}

page[aios-inSidebar][aios-appDefTheme="true"] #header {
  border-top: 1px solid ThreedHighlight;
  border-bottom: 1px solid ThreedShadow;
}
