/*
 * GUI
 */
window #JSConsoleWindow,
#ConsoleBox {
  margin: 0;
  padding: 0;
  border: none;
}
toolbox {
  border: none;
}
#ToolbarMode {
  padding: 0 1px 1px 1px;
}
#ToolbarMode toolbarbutton {
  min-width: 0;
  padding: 1px 4px !important;
}
#ToolbarMode[hideLabel=true] toolbarbutton:not([class="textonly"]) label {
  display: none;
}
#ToolbarMode[hideLabel=true] toolbarbutton:not([class="textonly"]) image {
  margin: 0;
}

/* Text */
.console-row {
  padding: 5px;
}
.console-row * {
  margin: 0;
  padding: 0;
}
.console-row .console-row-content > * {
  margin-bottom: 3px;
}
.console-row .console-row-content > *:last-child {
  margin-bottom: 0;
}
.console-row .console-row-icon image {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 10px;
}

/* Flexible lines */
.console-row .console-error-source,
.console-row .console-error-source label,
.console-row .console-row-code label {
  -moz-box-flex: 1;
}
.console-row .lineNumberRow label:first-child {
  margin-right: 5px;
}
.console-row:not([selected=true]) .console-row-code {
  display: none;
}
.console-row:not([selected=true]) .lineNumberRow label:first-child {
  margin-left: 5px;
}

/* Error in next line */
.console-row[selected=true] .console-row-file {
  -moz-box-orient: vertical;
}
.console-row[selected=true] .lineNumberRow label {
  margin-top: 3px;
}
