/*
 * GUI
 */
#commandBar .toolbarbutton-1 {
  -moz-box-orient: horizontal;
  list-style-image: url("panels_menus.png");
}
#commandBar .toolbarbutton-1[disabled="true"] {
  opacity: .4;
}
#mp-back-button {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
#mp-forward-button {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
#mp-stop-button {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
#mp-reload-button {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}
#mp-home-button {
  -moz-image-region: rect(16px, 80px, 32px, 64px);
}
#page-button {
  -moz-image-region: rect(0, 80px, 16px, 64px);
}
#toolsButton {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

/* Toolbar content shouldn't be too close to the edges */
#commandBar {
  padding: 2px;
}

/* Indent adapt to sidebar width menu item */
#ssrSidebar-mitem {
  padding-left: 13px;
}

/* Padlock icons */
#lock-icon[level="ev"] {
  list-style-image: url("chrome://browser/content/padlock_mod_ev.png");
}
#lock-icon[level="high"] {
  list-style-image: url("chrome://browser/content/padlock_mod_https.png");
}
#lock-icon[level="low"],
#lock-icon[level="mixed"] {
  list-style-image: url("chrome://browser/content/padlock_mod_low.png");
}
#lock-icon[level="broken"] {
  list-style-image: url("chrome://browser/content/padlock_mod_broken.png");
}
#lock-icon {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
