/*
 * GUI
 */
.paneSelector radio[pane] {
  list-style-image: url("prefs.png");
}
radio[pane=aiosGeneral] {
  -moz-image-region: rect(0, 32px, 32px, 0);
}
radio[pane=aiosPanels] {
  -moz-image-region: rect(0, 64px, 32px, 32px);
}
radio[pane=aiosMenus] {
  -moz-image-region: rect(0, 96px, 32px, 64px);
}
radio[pane=aiosKeys] {
  -moz-image-region: rect(0, 128px, 32px, 96px);
}
radio[pane=aiosAbout] {
  -moz-image-region: rect(0, 160px, 32px, 128px);
}
radio[pane=aiosSbSwitch] {
  -moz-image-region: rect(0, 192px, 32px, 160px);
}
#obj-minWidthVal,
#obj-defWidthVal,
#obj-maxWidthVal {
  width: 45px;
}
#obj-minWidthUnit,
#obj-defWidthUnit,
#obj-maxWidthUnit {
  min-width: 80px;
}
.arrow-lft {
  list-style-image: url("img/arrow.gif");
}
.arrow-lft image {
  transform: rotate(90deg);
  margin-left: 2px;
}
.arrow-lft label {
  padding-bottom: 2px;
}
#aios-settings-button image {
  list-style-image: url("img/arrow.gif");
  transform: rotate(180deg);
  margin-left: 5px;
}


/*
 * Styles
 */
.indent {
  margin-left: 1.8em;
}
.spacer {
  margin-top: 10px;
}
.link {
  color: #0000FF;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
#aiosKeys .link {
  margin: 1px 0;
}
#aiosKeys .link:hover {
  margin: 1px 0 0 0;
  border-bottom: 1px solid #0000FF;
  text-decoration: none;
}
.bold {
  font-weight: bold;
}


/*
 * Tooltips
 */
.labelTipElem {
  -moz-box-orient: vertical;
}
.labelTipElem box {
  width: 260px;
  height: 30px;
  margin-top: 10px;
  background: url("img/sidebarheader.gif") no-repeat;
}
.labelTip,
.labelTip > label {
  cursor: help;
}
.labelTip > label {
  border-bottom: 1px dotted;
}
toolbarbutton.info {
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  list-style-image: url("img/info.png");
}
toolbarbutton.info label {
  display: none;
}


/*
 * About Pane
 */
#aiosPreferences #aiosAbout #aboutHeader {
  display: none;
}
#aiosAbout #aboutHeader {
  margin: 0 0 10px 0;
}
#aiosAbout tabbox {
  margin-bottom: 10px;
}
#aiosAbout tabpanels {
  margin: 0;
  padding: 0;
}
#aiosAbout tabpanels tabpanel {
  padding: 13px;
}
#aiosAbout tabpanels tabpanel description {
  margin: 0;
  line-height: 1.3em;
}
#aiosAbout tabpanels tabpanel menuseparator {
  margin: 10px 0;
}
#aiosAbout vbox.websites toolbarbutton {
  -moz-appearance: none;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  list-style-image: url("img/info.png");
}
#aiosAbout vbox.websites toolbarbutton label {
  text-align: left;
  color: #0000FF;
  text-decoration: none;
}
#aiosAbout vbox.websites toolbarbutton:hover label {
  text-decoration: underline;
}
#aiosAbout separator.groove {
  margin: 10px 0 !important;
}
