/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This file was taken from OmniSidebar (https://github.com/Quicksaver/OmniSidebar) with some changes to adapt to TGS
 * Parts of this were based on banthaz's userstyle:
 *  - Add-ons Manager - In the Sidebar (https://userstyles.org/styles/48731/add-ons-manager-in-the-sidebar)
 */

/* general and top toolbox */

page[aios-inSidebar] > hbox:not(#header) {
    -moz-box-orient: vertical;
}

page[aios-inSidebar] #nav-header {
    margin: 0 4px;
    background: none;
}

page[aios-inSidebar] #header {
    font-size: 0.9em;
    margin: 0;
}

page[aios-inSidebar] #back-btn,
page[aios-inSidebar] #forward-btn {
    display: -moz-box;
    margin-top: 0;
    margin-bottom: 0;
}

page[aios-inSidebar] #back-btn {
    border-radius: 2px 0 0 2px;
    -moz-margin-start: 2px;
}
page[aios-inSidebar] #forward-btn {
    border-radius: 0 2px 2px 0;
    -moz-margin-end: 2px;
    -moz-border-start: none;
}

page[aios-inSidebar] #nav-header > .nav-button:-moz-any([disabled="true"],:not(:hover)) {
    border-color: #c1c1c1;
    background-color: #fbfbfb;
}

page[aios-inSidebar] #nav-header > .nav-button:not([disabled="true"]):hover {
    border-color: #c1c1c1;
}

page[aios-inSidebar] #header-search {
    max-width: 20em;
    -moz-box-flex: 1;
    min-width: 5em;
}

page[aios-inSidebar] #header-utils-btn,
page[aios-inSidebar] #header button.button-link {
    margin: 0;
}

page[aios-inSidebar] #header-utils-btn,
page[aios-inSidebar] #header-search {
    padding: 1px 5px;
    height: 26px;
}

page[aios-inSidebar] #search-filter {
    -moz-margin-end: 0;
    padding: 5px;
}

/* horizontal categories at the top */

page[aios-inSidebar] #categories {
    display: table-row;
    background: none;
}

page[aios-inSidebar] #categories .scrollbox-innerbox {
    overflow: hidden;
    -moz-margin-start: 5px;
}

page[aios-inSidebar] .category:not([disabled="true"]):not([persist="hidden"]):not([hidden="true"]) {
    display: table-cell;
}

page[aios-inSidebar] .category[disabled="true"],
page[aios-inSidebar] .category[persist="hidden"],
page[aios-inSidebar] .category[hidden="true"],
page[aios-inSidebar] #category-userstyles {
    display: none;
}

page[aios-inSidebar] .category-name,
page[aios-inSidebar] .category-badge {
    display: none;
}

page[aios-inSidebar] .category {
    padding: 3px;
    height: 40px;
}
page[aios-inSidebar] .category {
    border-radius: 4px 4px 0 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

page[aios-inSidebar] .category image {
    width: 28px;
    height: 28px;
    margin: 0;
}

page[aios-inSidebar] .category[selected="true"],
page[aios-inSidebar] .category:hover {
    -moz-border-top-colors: #c1c1c1;
    -moz-border-left-colors: #c1c1c1;
    -moz-border-right-colors: #c1c1c1;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fbfbfb 0px, #fbfbfb 50%, transparent 100%);
}

/* scrollable lists panes */

page[aios-inSidebar] .main-content {
    border-top: 1px solid #c1c1c1;
}

page[aios-inSidebar] .main-content,
page[aios-inSidebar] .view-pane > .list > scrollbox {
    padding: 0;
}

page[aios-inSidebar] .view-header {
    -moz-margin-end: 0;
    margin: 0;
}

page[aios-inSidebar] .sorter[checkState="1"],
page[aios-inSidebar] .sorter[checkState="2"],
page[aios-inSidebar] .sorter:hover {
    box-shadow: inset 1px 0 0 #c1c1c1, inset -1px 0 0 #c1c1c1;
    background-color: #fbfbfb;
}

page[aios-inSidebar] #view-port-container {
    height: 3700px;
}

page[aios-inSidebar] .view-pane {
    font-size: 0.85em;
}

page[aios-inSidebar] .basicinfo-container {
    width: 100%;
}

page[aios-inSidebar] .disabled-postfix,
page[aios-inSidebar] .update-postfix {
    font-size: 0.8em;
}

page[aios-inSidebar] .view-pane richlistitem {
    padding: 0 5px 2px 5px;
}

page[aios-inSidebar] .view-pane richlistitem[selected="true"] {
    -moz-border-start: none;
}

/* reenable with hover effects below */
/*page[aios-inSidebar] .addon .content-container {
    margin: 3px 0;
}*/

page[aios-inSidebar] .warning,
page[aios-inSidebar] .error,
page[aios-inSidebar] .pending {
    -moz-margin-start: 0;
}

page[aios-inSidebar] .warning-icon,
page[aios-inSidebar] .pending-icon,
page[aios-inSidebar] .error-icon {
    width: 16px;
    height: 16px;
}

page[aios-inSidebar] .list {
    border: none;
}

page[aios-inSidebar] .list .name-container {
    font-size: 1.4em;
}

page[aios-inSidebar] .list button {
    margin: 1px 2px 2px 2px;
    padding: 0 2px 0 2px;
}

page[aios-inSidebar] .list richlistitem .description {
    display: none;
}

page[aios-inSidebar] .list richlistitem .description-container {
    margin: 0;
}

page[aios-inSidebar] #updates-list .date-updated {
    font-size: 1.2em;
}

page[aios-inSidebar] richlistitem .update-info-container > *,
page[aios-inSidebar] richlistitem .control-container > *,
page[aios-inSidebar] richlistitem .install-status > * {
    min-height: 2em;
    max-height: 2em;
}

page[aios-inSidebar] richlistitem .content-container {
    position: relative;
}

page[aios-inSidebar] richlistitem .control-container,
page[aios-inSidebar] richlistitem .install-status {
    position: absolute;
    right: 0;
    bottom: 0;
}

page[aios-inSidebar] richlistitem .control-container:not([hidden="true"]),
page[aios-inSidebar] richlistitem .install-status:not([hidden="true"]) {
    display: flex;
}

page[aios-inSidebar] richlistitem .control-container menulist,
page[aios-inSidebar] richlistitem .install-status .download-progress {
    margin-top: 1px;
}

page[aios-inSidebar] richlistitem .status-container {
    margin-top: -2em;
}

page[aios-inSidebar] .status-control-wrapper button,
page[aios-inSidebar] .status-control-wrapper menulist {
    min-width: 5em;
}

page[aios-inSidebar] .details.button-link > *.button-box,
page[aios-inSidebar] .status-control-wrapper button > *.button-box,
page[aios-inSidebar] .status-control-wrapper menulist > *.menulist-label-box {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

page[aios-inSidebar] richlistitem .install-status .status-container {
    margin-top: 0;
}

page[aios-inSidebar] richlistitem .install-status .download-progress .progress .progress-bar  {
    min-height: 17px;
}

page[aios-inSidebar] richlistitem[status="installing"] .content-container {
    margin-bottom: 25px;
}

page[aios-inSidebar] richlistitem[status="installing"] .install-status {
    bottom: -25px;
}

/* with hover effects margin-top is 2px, recheck when reenable */
page[aios-inSidebar] .icon-container {
    margin: 9px 0 0 0;
}

/* disable when reenabling mouse over */
page[aios-inSidebar] .addon .advancedinfo-container {
    margin-top: -2px;
}
page[aios-inSidebar] .addon .icon-container,
page[aios-inSidebar] .addon .icon {
    width: 16px;
    height: 16px;
}

/* make sure add-on names aren't truncated when lots of labels are shown, especially on Updates tab */
page[aios-inSidebar] .basicinfo-container {
    display: block;
}
page[aios-inSidebar] .date-updated {
    float: left;
}
page[aios-inSidebar] .update-postfix {
    visibility: collapse;
}

/* e.g. Release Notes section would always be white and with a huge font */
page[aios-inSidebar] html|body {
    background: transparent;
    font-size: 1em;
}

page[aios-inSidebar] .addon:not([selected]) .relnotes-toggle:hover {
    background-color: #fafafa;
}

/* item details page */

page[aios-inSidebar] #detail-view {
    -moz-margin-end: 0;
}

page[aios-inSidebar] #detail-autoUpdate radio {
    margin: 2px 0px 2px 0px;
}

page[aios-inSidebar] #detail-autoUpdate radio .radio-label-box {
    -moz-margin-start: 0px;
    -moz-padding-start: 0px;
}

page[aios-inSidebar] #detail-findUpdates-btn {
    -moz-margin-start: 0;
    -moz-margin-end: 0;
}

page[aios-inSidebar] #detail-grid .detail-row-label {
    -moz-margin-start: 0;
}

/* Add-on detail pages - Remove wasted space */

page[aios-inSidebar] #detail-name-container {
    -moz-box-orient: vertical;
}

page[aios-inSidebar] #detail-notifications + hbox {
    -moz-box-orient: vertical;
    position: relative;
}

page[aios-inSidebar] .detail-view-container {
    padding: 0 5px;
}

page[aios-inSidebar] #detail-screenshot,
page[aios-inSidebar] #detail-icon {
    margin: 0;
}

page[aios-inSidebar] #detail-icon-container {
    position: absolute;
}

page[aios-inSidebar] #detail-notifications {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -moz-margin-start: 0.8em;
    -moz-margin-end: 0;
}

page[aios-inSidebar] #detail-view > .box-inherit {
    margin: 0;
}

page[aios-inSidebar] #detail-desc-container {
    display: inline;
    text-align: center;
    word-wrap: break-word;
}

page[aios-inSidebar] #detail-desc-container > * {
    text-align: start;
}

page[aios-inSidebar] #detail-desc-container + * {
    margin-top: 2em;
}

 @media all and (max-width: 20.25em) {
    page[aios-inSidebar] #detail-contributions {
        padding: 0.25em;
    }
}

page[aios-inSidebar] #detail-grid #detail-findUpdates-btn > .button-box {
    -moz-padding-end: 5px !important;
}

page[aios-inSidebar] :-moz-any(row,#search-filter) radio > *,
page[aios-inSidebar] :-moz-any(row,.status-control-wrapper) checkbox > * {
    -moz-margin-end: 4px;
}

page[aios-inSidebar] :-moz-any(row,#search-filter) radio .radio-check,
page[aios-inSidebar] :-moz-any(row,.status-control-wrapper) checkbox .checkbox-check {
    width: 16px;
    height: 16px;
}

/* Add-on detail pages - Stack tables */

page[aios-inSidebar] #detail-grid {
    display: inline;
}

page[aios-inSidebar] .detail-row,
page[aios-inSidebar] .detail-row-complex,
page[aios-inSidebar] setting{
    font-size: 1em;
}

page[aios-inSidebar] #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) {
    display: table;
}

page[aios-inSidebar] #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) > label.detail-row-label {
    width: 95%;
}

page[aios-inSidebar] #detail-grid > rows > row > :nth-child(2) {
    margin-left: 2em;
}

page[aios-inSidebar] #detail-grid > rows > row:-moz-any(.detail-row-complex:not([hidden]),.detail-row:not([hidden])[value]) > label:not(.detail-row-label) {
    margin-left: 2.5em;
}

page[aios-inSidebar] #detail-controls,
page[aios-inSidebar] #detail-rows > * {
    width: 100%;
}

page[aios-inSidebar] #detail-rows,
page[aios-inSidebar] #detail-rows > setting:not([desc=""]) > vbox {
    display: flex;
    flex-direction: column;
}

page[aios-inSidebar] #detail-rows > setting {
    display: flex;
    flex-direction: row;
}

page[aios-inSidebar] #detail-rows > setting[collapsed="true"] {
    display: none;
}

page[aios-inSidebar] #detail-rows > setting > vbox,
page[aios-inSidebar] #detail-rows > setting:not([desc=""]) > vbox > * {
    flex: 1 1 auto;
}

page[aios-inSidebar] #detail-rows > setting > hbox {
    flex: 0 0 auto;
    margin: auto !important;
}

page[aios-inSidebar] #detail-rows > setting:not([type="string"]):not([type="integer"]) > hbox {
    display: flex;
}

page[aios-inSidebar] #detail-rows > setting[type="menulist"] menulist {
    margin-top: auto;
    margin-bottom: auto;
}

page[aios-inSidebar] setting radio > * {
    -moz-margin-end: 4px;
}

page[aios-inSidebar] setting radio .radio-check,
page[aios-inSidebar] setting checkbox .checkbox-check {
    width: 20px;
    height: 20px;
}

page[aios-inSidebar] setting textbox {
    height: 28px;
}

page[aios-inSidebar] setting menulist {
    height: 24px;
}

page[aios-inSidebar] setting > vbox .preferences-alignment {
    height: 100%;
}

page[aios-inSidebar] #detail-rows > setting .preferences-description {
    -moz-margin-start: 6px;
}

/* Stylish tab */

/* in small windows, like the sidebar panel, the columns (sorters) force the panel to go beyond the limits */
/* this forces those buttons to wrap */
@media all and (max-width: 23.3em) {
    page[aios-inSidebar] #list-view[type="userstyle"] #addon-list-empty[hidden] ~ #userstyle-sorting { display: block; }
}

/* avoid a weird bug where buttons could occupy a second row
   https://github.com/Quicksaver/OmniSidebar/issues/122 */
page[aios-inSidebar] #categories #stylishStrings {
    display: none;
}

/* Hide */
page[aios-inSidebar] #header > spacer,
page[aios-inSidebar] #header :-moz-any(#back-btn, #forward-btn) {
    display: none !important;
}