window button[oncommand="close();"],
window resizer,
window #cookiesIntro {
	display: none;
}

window .contentPane {
	margin: 0 !important;
}

window[aios-inSidebar][aios-appDefTheme="true"]:-moz-system-metric(windows-default-theme) {
    background-color: #EEF3FA;
}