/* Reduce height of items in the downloads list */
#downloadsRichListBox > richlistitem.download {
	height: auto;
}

/* Applies only when shading pref is enabled */
window[aios-downloadShade="true"] richlistitem:not([selected=true]):not([state="1"]) {
	color: #660000;
	background-color: #FFECEC;
}
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="-1"],
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="0"],
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="4"],
window[aios-downloadShade="true"] richlistitem:not([selected=true])[state="5"] {
	color: #006600;
	background-color: #ECFFEC;
}