#contentAreaDownloadsView {
    margin: 0;
    padding: 0;
    border: none;
}
#main-bar #clearListButton {
    margin-right: 5px;
}
window[aios-appOS="WINNT"] #clearListButton {
    list-style-image: url(../icons/panels_menus.png);
    -moz-image-region: rect(0,  48px,  16px,  32px);
}
window[aios-appOS="Darwin"] #clearListButton {
    list-style-image: url(../icons/panels_menus.png);
    -moz-image-region: rect(32px,  48px,  48px,  32px);
}