window[aios-appDefTheme="true"] {
    border-top: 1px solid ThreedHighlight;
}
window[aios-appDefTheme="true"] #filterRow {
    -moz-appearance: toolbox;
    margin: 0;
    padding-right: 1px;
    padding-bottom: 1px;
}
window[aios-appDefTheme="true"] #configTree {
    -moz-appearance: none;
    margin: 0;
    border: none;
}
window[aios-appDefTheme="true"] #configTree treechildren {
    margin-left: 5px;
}
window[aios-appDefTheme="true"][aios-appOS="Darwin"] #filterRow {
    padding-bottom: 5px;
    background-color: #D4DDE5;
    background-image: none;
}
window[aios-appDefTheme="true"][aios-appOS="Darwin"] #filterRow:-moz-window-inactive {
    background-color: #e8e8e8;
}
