#ff-message {
	font-size: 18px;
    font-weight: bold;
}
#mainDeck, #topBar, #viewGroup {
	margin: 0;
	padding: 0;
}
#viewGroup {
	padding: 0 0 1px 1px;
}
#viewGroup[hideLabel=true] radio {
	min-width: 0;
	margin: 0 2px 0 0;
	padding: 2px;
}
#viewGroup[hideLabel=true] radio label {
	display: none;
}
#generalPanel #titletext {
	padding: 5px;
}
#permPanel > hbox {
	padding-top: 5px;
}
#permPanel #permList {
	border: none;
}
#permPanel #permList > vbox {
	padding-left: 0;
	padding-right: 0;
}
#permPanel #permList > vbox hbox {
	-moz-box-orient: vertical;
}
#security-privacy-groupbox row {
	margin-top: 10px;
	padding-top: 10px;
}
#security-privacy-groupbox row :first-child {
	margin-top: 0;
	padding-top: 0;
}
window[aios-appDefTheme="true"] #permList, window[aios-appDefTheme="true"] #security-privacy-groupbox row {
	border-top: 1px solid ThreedShadow;
}
window[aios-appDefTheme="true"] #security-privacy-groupbox row:first-child {
	border-top: none;
}
window[aios-appDefTheme="true"][aios-appOS="WINNT"] #topBar {
	padding-top: 1px;
}
window[aios-appDefTheme="true"][aios-appOS="WINNT"]:-moz-system-metric(windows-default-theme) #permList {
	border-top: 1px solid Threedshadow;
}
window[aios-appDefTheme="true"][aios-appOS="WINNT"]:-moz-system-metric(windows-default-theme) #topBar {
	border-bottom: 1px solid Threedshadow;
}
window[aios-appDefTheme="true"][aios-appOS="WINNT"]:-moz-system-metric(windows-default-theme) #mainDeck {
	border-top: 1px solid ThreedHighlight;
}
window[aios-appDefTheme="true"][aios-appOS="WINNT"]:-moz-system-metric(windows-default-theme) deck,
window[aios-appDefTheme="true"][aios-appOS="WINNT"]:-moz-system-metric(windows-default-theme) #feedListbox *,
window[aios-appDefTheme="true"][aios-appOS="WINNT"]:-moz-system-metric(windows-default-theme) #permList {
	background-color: #EEF3FA;
}
window[aios-appDefTheme="true"]:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #topBar {
	padding-top: 1px;
}
